base_platform: b-ubuntu-1204
topology: standalone
api_fqdn: chef-standalone.lxc
mount:
  - /oc oc
  - /dev-shared dev-shared
package:
  server: /dev-shared/chef-packages/ec/private-chef_11.1.1-1.ubuntu.12.04_amd64.deb
  reporting: /dev-shared/chef-packages/ec/reporting/opscode-reporting_1.1.0-1.ubuntu.12.04_amd64.deb
  push-jobs-server: /dev-shared/chef-packages/ec/push-jobs-server/opscode-push-jobs-server_1.1.0-1.ubuntu.12.04_amd64.deb
  manage: /dev-shared/chef-packages/ec/manage/opscode-manage_1.1.1-1.ubuntu.12.04_amd64.deb
server:
  chef-standalone.lxc:
    ipaddress: 10.0.3.201
